recursive-exclude test *
recursive-include contextualization *
recursive-include IM/tosca/artifacts *
include  IM/tosca/tosca-types/custom_types.yaml
include scripts/im
include etc/im.cfg
include LICENSE
include INSTALL
include NOTICE
include changelog