recursive-exclude test *
recursive-include contextualization *
include scripts/im
include scripts/im.service
include etc/im.cfg
include etc/logging.conf
include LICENSE
include NOTICE
include changelog
