ansible >= 2.4
ansible-base
paramiko >= 1.14
PyYAML
cheroot
boto >= 2.29
apache-libcloud >= 3.3.1
RADL >= 1.1.6
bottle
netaddr
requests >= 2.19
scp
tosca-parser
defusedxml
urllib3>=1.23
pycodestyle
suds-py3
xmltodict
mysqlclient
pywinrm
pymongo
msrest
msrestazure
azure-common
azure-mgmt-storage
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-resource
azure-mgmt-dns
azure-identity
pyVmomi
hvac
psutil
scar
mock
coverage
requests-cache
