ansible >= 4.10.0, <= 11.13.0
paramiko >= 1.14
PyYAML
cheroot
boto3
apache-libcloud >= 3.3.1
RADL >= 1.3.4
flask
werkzeug
netaddr
requests >= 2.19
scp
tosca-parser
defusedxml
urllib3>=2.5
suds-py3
xmltodict
PyMySQL
pywinrm
pymongo
msrest
msrestazure
azure-common
azure-mgmt-storage
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-resource
azure-mgmt-dns
azure-identity
pyVmomi
hvac
psutil
scar
mock
coverage
requests-cache
packaging
lxml
