---
- handlers:
    - name: restart cluesd
      service: name=cluesd state=restarted

  vars:
      TORQUE_PATH: /var/spool/torque
      PBS_SERVER_CONF: |
        create queue batch
        set queue batch queue_type = Execution
        set queue batch resources_default.nodes = 1
        set queue batch enabled = True
        set queue batch started = True
        set server default_queue = batch
        set server scheduling = True
        set server scheduler_iteration = 20
        set server node_check_rate = 40
        set server resources_default.neednodes = 1
        set server resources_default.nodect = 1
        set server resources_default.nodes = 1
        set server query_other_jobs = True
        set server node_pack = False
        set server job_stat_rate = 30
        set server mom_job_sync = True
        set server poll_jobs = True
        set tcp_timeout = 600
        
  tasks:
    # /etc/hosts configuration
    - lineinfile: dest=/etc/hosts regexp='torqueserver' line='{{IM_NODE_NET_1_IP}} torqueserver'
      when: IM_NODE_NET_1_IP is defined
      
    - lineinfile: dest=/etc/hosts regexp='torqueserver' line='{{ansible_default_ipv4.address}} torqueserver'
      when: IM_NODE_NET_1_IP is undefined

    # PBS configuration
    - file: src=/var/lib/torque dest=/var/spool/torque state=link
      when: ansible_os_family == "RedHat" and clues_queue_system == 'torque'
    
    - command: hostname torqueserver
      when: clues_queue_system == 'torque'
    
    - shell: |
        for i in `seq 1 {{max_instances}}`; do
          item="{{wn_name}}${i}";
          grep -q "\<${item}\>" /etc/hosts || echo "127.0.0.1 ${item}.localdomain ${item}" >> /etc/hosts;
        done
      when: clues_queue_system == 'torque'
        
    - copy: dest=/etc/torque/server_name content=torqueserver
      when: clues_queue_system == 'torque'
    - copy:
        content: |
           {% for number in range(1, max_instances|int + 1) %}
           vnode{{number}}
           {% endfor %}
        dest: "{{TORQUE_PATH}}/server_priv/nodes"
      when: clues_queue_system == 'torque'
      
    - service: name=torque-server state=started pattern=/usr/sbin/pbs_server
      when: ansible_os_family == "Debian" and clues_queue_system == 'torque'
    - service: name=pbs_server state=started pattern=/usr/sbin/pbs_server
      when: ansible_os_family == "RedHat" and clues_queue_system == 'torque'
      
    - shell: echo "{{PBS_SERVER_CONF}}" | qmgr creates={{TORQUE_PATH}}/server_priv/queues/batch
      when: clues_queue_system == 'torque'
  
    # CLUES2 Config file
    - file: path=/etc/clues2 state=directory mode=755

    - copy: src=/etc/clues2/clues2.cfg-full-example dest=/etc/clues2/clues2.cfg force=no
      notify: restart cluesd

    - ini_file: dest=/etc/clues2/clues2.cfg section={{ item.section }} option={{ item.option }} value="{{ item.value }}"
      with_items:
        - { section: 'general', option: 'POWERMANAGER_CLASS', value: 'cluesplugins.im' }
        - { section: 'scheduler_power_off_idle', option: 'IDLE_TIME', value: '300' }
        - { section: 'monitoring', option: 'MAX_WAIT_POWERON', value: '2000' }
        - { section: 'monitoring', option: 'MAX_WAIT_POWEROFF', value: '600' }
        - { section: 'monitoring', option: 'PERIOD_LIFECYCLE', value: '10' }
        - { section: 'general', option: 'CLUES_SECRET_TOKEN', value: '{{clues_secret_token}}' }
        - { section: 'client', option: 'CLUES_SECRET_TOKEN', value: '{{clues_secret_token}}' }
        - { section: 'client', option: 'CLUES_REQUEST_WAIT_TIMEOUT', value: '0' }
      notify: restart cluesd
      
      # CLUES IM configuration
    - file: path=/usr/local/ec3 state=directory mode=755
    # TODO: check this
    - copy: dest=/usr/local/ec3/auth.dat content="type = InfrastructureManager; username = user; password = pass"
    - copy: dest=/usr/local/ec3/wn_info.yml content={{wn_host_info}}\n-\n{{wn_os_info}}\n-\n{{wn_name}}\n-\n{{wn_node_type}}

    - ini_file: dest=/etc/clues2/clues2.cfg section=general option=LRMS_CLASS value=cluesplugins.pbs
      notify: restart cluesd
      
      # CLUES PBS configuration
    - ini_file: dest=/etc/clues2/clues2.cfg section=general option=LRMS_CLASS value=cluesplugins.pbs
      notify: restart cluesd
      when: clues_queue_system == 'torque'
    - copy: src=/etc/clues2/conf.d/plugin-pbs.cfg-example dest=/etc/clues2/conf.d/plugin-pbs.cfg force=no
      notify: restart cluesd
      when: clues_queue_system == 'torque'
    - ini_file: dest=/etc/clues2/conf.d/plugin-pbs.cfg section=PBS option=PBS_SERVER value=torqueserver
      notify: restart cluesd
      when: clues_queue_system == 'torque'
    - lineinfile: dest={{TORQUE_PATH}}/torque.cfg regexp=^SUBMITFILTER line='SUBMITFILTER /usr/local/bin/clues-pbs-wrapper' create=yes mode=644
      when: clues_queue_system == 'torque'

      # CLUES SGE configuration
    - ini_file: dest=/etc/clues2/clues2.cfg section=general option=LRMS_CLASS value=cluesplugins.sge
      notify: restart cluesd
      when: clues_queue_system == 'sge'
    - copy: src=/etc/clues2/conf.d/plugin-sge.cfg-example dest=/etc/clues2/conf.d/plugin-sge.cfg force=no
      notify: restart cluesd
      when: clues_queue_system == 'sge'
    - copy: src=/etc/clues2/conf.d/wrapper-sge.cfg-example dest=/etc/clues2/conf.d/wrapper-sge.cfg force=no
      notify: restart cluesd
      when: clues_queue_system == 'sge'
    - lineinfile: dest={{SGE_ROOT}}/default/common/sge_request regexp='^-jsv' line="-jsv /usr/local/bin/clues-sge-wrapper" create=yes mode=644
      when: clues_queue_system == 'sge'
    - lineinfile: dest=/etc/profile.d/sge_vars.sh regexp='SGE_JSV_TIMEOUT' line="export SGE_JSV_TIMEOUT=600" create=yes mode=755
      when: clues_queue_system == 'sge'

      # CLUES SLURM configuration
    - ini_file: dest=/etc/clues2/clues2.cfg section=general option=LRMS_CLASS value=cluesplugins.slurm
      notify: restart cluesd
      when: clues_queue_system == 'slurm'
    - copy: src=/etc/clues2/conf.d/plugin-slurm.cfg-example dest=/etc/clues2/conf.d/plugin-slurm.cfg force=no
      notify: restart cluesd
      when: clues_queue_system == 'slurm'
    - ini_file: dest=/etc/clues2/conf.d/plugin-slurm.cfg section=SLURM option=SLURM_SERVER value=slurmserverpublic
      notify: restart cluesd
      when: clues_queue_system == 'slurm'
    - command: mv /usr/local/bin/sbatch /usr/local/bin/sbatch.o creates=/usr/local/bin/sbatch.o
      when: clues_queue_system == 'slurm'                                                                         
    - command: mv /usr/local/bin/clues-slurm-wrapper /usr/local/bin/sbatch creates=/usr/local/bin/sbatch
      when: clues_queue_system == 'slurm'
      
      
      