name: Test IM

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4

      - name: Set up Python 3.
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: python -m pip install tox

      - name: Check code style
        run: tox -e style

      - name: Check security
        run: tox -e bandit

      - name: Unit tests
        run: tox -e coverage

      - name: Report coverage
        uses: codacy/codacy-coverage-reporter-action@v1
        if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
        with:
            project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
            coverage-reports: coverage.xml
